header {
  font-family: "Space Grotesk", sans-serif !important;
}

main {
  font-family: 'Space Mono', monospace;
}

#autocomplete {
  transform: translateX(-11rem) translateY(25.8rem) !important;
}

.hidden {
  display: none;
}

.footer {
  height: auto;
  width: 100%;
}

.footer p {
  opacity: 0.75;
  font-family: "Space Grotesk", sans-serif !important;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 900;
  font-size: 0.75rem;
  color: black;
  text-align: center;
}

.toggle-checkbox:checked {
  right: 0;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #68d391;
}
